@model MVCBasics.Models.PeopleViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* Use the form below for search if not using AJAX *@
<!--<form style="float:right;">-->
    @*<input type="submit" value="Search" class="btn btn-primary" style="float: right" />*@
    <!--<input id="search" asp-for="SearchPhrase" class="form-control" style="float: right; width: 30%" />
    <label class="control-label" style="float:right;">Search By Anything</label>
</form>-->

<a asp-action="Create"
   style="float:right;
clear:both; background:skyblue;
display:block;
text-decoration:none;
border-radius:5px;margin:10px">Create New</a>

<input type="text" id="DetailsID" />
<input type="button" value="People" id="LoadPeople" />
<input type="button" value="Details" id="PersonDetails" />
<input type="button" value="Delete" id="PersonDelete" />

<input id="SearchBt" type="button" value="Search" class="btn btn-primary" style="float: right" />
<input id="search" class="form-control" style="float: right; width: 20%" />
<label class="control-label" style="float:right;">Search By Anything</label>


<div id="PersonTable">
    @*<div>
            <hr />
            <div class="row">
                <div class="col-sm-2">
                    ID
                </div>
                <div class="col-sm-2">
                    Name
                </div>
                <div class="col-sm-2">
                    PhoneNumber
                </div>
                <div class="col-sm-2">
                    City
                </div>
            </div>
        </div>*@
    @*Showing Table Data with Partial View Using Razor*@
    @*@{
            var index = 0;
            @foreach (var item in Model.people)
            {
                <partial  name="_Person" model="item"/>
                index++;
            }
        }*@
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#LoadPeople").click(function () {
            $('#PersonTable').load("/Person/PeopleIndex");
        });

        $("#SearchBt").click(function () {
            var sc = $("#search").val();
            $('#PersonTable').load("/Person/PeopleIndex", {search: sc});
        });

        $("#PersonDetails").click(function () {
            var id = $("#DetailsID").val();
            $('#PersonTable').load("/Person/PersonDetails", {ID:id});
        });

        $("#PersonDelete").click(function () {
            var id = $("#DetailsID").val();
            $('#PersonTable').load("/Person/Delete", { ID: id });
            alert("@ViewBag.Message")
            //var Data = JSON.stringify(id);
            //$.ajax({
            //    type: "POST",
            //    data: Data,
            //    url: "/Person/Delete",
            //    dataType: "json",
            //    contentType: false,
            //    processData: false,

            //    success: function (response) {
            //        if (response.success) {
            //            alert(response.responseText);
            //        } else {
            //            // DoSomethingElse()
            //            alert(response.responseText);
            //        }
            //    },
            //    error: function (response) {
            //        alert("error") // I'm always get this.
            //    }

            //});
        });
    });
</script>
